.container-fluid .row {
  margin-bottom: 15px;
}
.container-fluid .row:last-child {
  margin-bottom: 0px;
}

.card {
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.business-hours {
  display: inline-block;
  width: 170px;
}

#basic-info #update-btn {
  width: 10%;
}
#setting #update-btn {
  width: 10%;
}