.showMap {
  height: 600px;
}

#map {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
}

#restaurant_allData,
#attraction_allData,
#guesthouse_allData,
#district_allData {
  display: none;
}

#searchHeader {
  margin-top: 20px;
  margin-bottom: 20px;
}

th, td {
  width: 20%;
  font-size: 18px;
  text-align: center;
}

.card {
  margin-top: 20px;
}

.card .card {
  margin-top: 0;
  margin-bottom: 10px;
}

.card .card .card-body .row {
  margin-bottom: 10px;
}

.card .card .card-body .row:last-child {
  margin-bottom: 0px;
}